.main-section {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 100%;
    width: 100%;
    margin-top: 50px;
    gap: 40px;
    margin-left: 50px;
}

.search-bar {
    display: flex;
    justify-content: space-between;
    border: 3px solid var(--dark);
    border-radius: 40px;
    width: 95%;
    background-color: var(--light);
    min-width: 350px;
    box-sizing: border-box;
}

#username-search{
    background-color: transparent;
    border: none;
    font-size: 40px;
    min-width: 0;
    width: 100%;
    box-sizing: border-box;
    padding: 10px 30px;
}

#username-search:focus{
    outline: none;
}

.users-section {
    display: flex;
    flex-direction: column;
    gap: 25px;
    width: inherit;
}

.user-piece {
    display: flex;
    justify-content: space-between;
    align-self: start;
    border: 5px solid var(--dark);
    border-radius: 40px;
    width: 95%;
    box-sizing: border-box;
}

.username {
    font-size: 40px;
    font-weight: bold;
    overflow-wrap: break-word;
    padding: 20px;
}

.black-button {
    font-size: 30px;
    padding: 10px 20px;
    margin: 10px;
}


.main-section::-webkit-scrollbar {
    width: 30px;
}

.main-section::-webkit-scrollbar-track {
    background: var(--light);
    border: 4px solid var(--dark);
    border-radius: 50px;
    margin-block: 10px;
}

.main-section::-webkit-scrollbar-thumb {
    background-color: var(--dark);
    border-radius: 100vw;
    border: 2px solid rgba(0, 0, 0, 0);
}

@media only screen and (max-width: 700px) {
    .main-section{
        margin-left: 1%;
        align-items: center;
    }

    .users-section{
        gap: 15px;
    }

    .user-piece{
        align-self: center;
    }

    .username{
        font-size: 30px;
    }

    .black-button{
        font-size: 22px;
        padding: 5px 10px;
    }

    #username-search{
        font-size: 30px;
    }
}