.container {
    text-align: center;
    display: flex;
    flex-direction: column;
    font-family: 'Inter', sans-serif;
    justify-content: flex-start;
    align-items: center;
    background-color: var(--light);
}

.center_container{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 80%;
    order: 1;
}

h1 {
    font-size: 4rem;
}

.description {
    margin-top: -1vh;
    font-size: 4vh;
    font-weight: 650;
    line-height: 1.5;
    margin-bottom: 4vh;
}

.styledButton{
      font-size: 2.5rem;
}

.noAccount{
    margin-top: 30px;
}

footer{
    order: 2;
    position: absolute;
    bottom: 0;
    max-width: 100%;
    width: 100%;
    height: 15%;
    background-color: var(--dark);
}
