.password-form{
    display: flex;
    flex-direction: column;
    margin-top: 150px;
    gap: 75px;
}

.fields{
    display: flex;
    flex-direction: column;
    gap: 40px;
    min-width: 300px;
}

.field-row{
    display: flex;
    justify-content: space-between;
    min-width: 400px;
    gap: 60px;
}

.field-label{
    font-size: 2.5rem;
    align-self: center;
}

input {
    width: 100%;
    font-size: 2rem;
    background-color: var(--light);
    padding: 1rem;
    border: 4px solid var(--dark);
    border-radius: 20px;
    box-sizing: border-box;
}

.action-buttons{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 100px;
}

.styledButton{
    font-size: 2rem;
    width: 200px;
    padding: 1rem;
    text-align: center;
}

.black-button{
    font-size: 2rem;
    width: 250px;
    padding: 1rem;
}

@media only screen and (max-width: 900px) {
    .password-form{
        margin-top: 50px;
    }

    .fields{
        align-self: flex-start;
        margin: 0 50px;
        min-width: 300px;
    }

    .field-row{
        flex-flow: column wrap;
        align-self: flex-start;
        min-width: 300px;
        gap: 20px;
    }

    .field-label{
        align-self: flex-start;
    }

    .action-buttons{
        flex-flow: column-reverse wrap;
        gap: 40px;
        align-self: center;
        margin-bottom: 50px;
    }

    input {
        max-width: 800px;
        min-width: 300px;
    }
}
