.login-box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 15px;
    background-color: var(--light);
    margin-top: 15vh;
    padding: 20px;
    width: 40%;
    height: 60%;
    max-width: 600px;
    min-width: 300px;
    min-height: 460px;
    border: 6px solid var(--dark);
    border-radius: 20px;
}

h1 {
    font-size: 2.5rem;
    align-self: center;
    margin: 5px;
}

.login-form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 60%;
    gap: 15px;
}

.noAccount {
    font-size: 1.5rem;
    text-shadow: -0.5px 0 var(--dark);
    text-align: center;
}

