<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LyricPulse</title>
    <link rel="stylesheet" href="{{ url_for('frontend', path='static/common.css') }}">
    <link rel="stylesheet" href="{{ url_for('frontend', path='static/landing.css') }}">
    <link rel="icon" type="image/x-icon" href="{{ url_for('frontend', path='static/favicon.ico') }}">
</head>
<body class="container">
<div class="center_container">
    <h1>LyricPulse</h1>
    <p class="description">Unlock Your<br>Special Lyrics<br>In One Click<br>With Us</p>
    <a class="styledButton" href="/detection/">Recognize!</a>

    <div class="noAccount">
        Have got an account? <a href="/signIn/">Sign in</a>
    </div>
</div>
<footer>
</footer>
</body>
</html>
