<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset Password</title>
    <link rel="stylesheet" href="{{ url_for('frontend', path='static/common.css') }}">
    <link rel="stylesheet" href="{{ url_for('frontend', path='static/password.css') }}">
    <link rel="icon" type="image/x-icon" href="{{ url_for('frontend', path='static/favicon.ico') }}">
</head>
<body>
<header class="standardHeader">
    <div class="logo"><a href="/"
                         style="color: black; text-decoration: none;">LyricPulse</a>
    </div>
    <img src="{{ url_for('frontend', path='static/profile.jpg') }}" alt="Profile Icon" class="profile-icon"
         onclick="toggleMenu()">
    <div class="profile-menu" id="profileMenu">
        <ul>
            <li><a class="menu-links" href="/profile/">Profile</a></li>
            <li><a class="menu-links" href="/history/">History</a></li>
            <li><a class="menu-links" href="mailto:mityashabanov2004@gmail.com">Support</a></li>
            <li><a class="menu-links" href="#" id="logoutLink">Sign out</a></li>
        </ul>
    </div>
</header>

<form class="password-form" id="password-form">
    <div class="fields">
        <div class="field-row">
            <label class="field-label" for="old_password">Old password:</label>
            <div class="input-group">
                <input type="password" id="old_password" name="old_password" required>
            </div>
        </div>

        <div class="field-row">
            <label class="field-label" for="new_password">New password:</label>
            <div class="input-group">
                <input type="password" id="new_password" name="new_password" required>
            </div>
        </div>

        <div class="field-row">
            <label class="field-label" for="repeat_password">Repeat password:</label>
            <div class="input-group">
                <input type="password" id="repeat_password" name="repeat_password" required>
            </div>
        </div>
    </div>

    <div class="action-buttons">
        <a class="styledButton" href="/profile/">Cancel</a>
        <button type="submit" class="black-button">Save</button>
    </div>
</form>

<dialog>
    <p style="font-size: 35px; font-weight: bold; padding-bottom: 20px;" id="errorDescription"></p>
    <a id="dialog-button" class="black-button" onclick="closePopup()">Try Again</a>
</dialog>

<script src="{{ url_for('frontend', path='static/common.js') }}"></script>
<script>
    document.getElementById("password-form").addEventListener("submit", function (event) {
        event.preventDefault();

        const new_password = document.getElementById("new_password").value;
        const repeat_password = document.getElementById("repeat_password").value;

        if (validatePassword(new_password, repeat_password)) {
            const formData = new FormData(document.getElementById("password-form"));
            change_password(formData);
        }
    });

    function change_password(formData) {
        fetch('/password/', {
            method: 'PUT',
            body: formData
        })
            .then(handleResponse)
            .catch(error => {
                document.getElementById("dialog-button").innerHTML = "Try again";
                document.getElementById("dialog-button").href = "/detection/"
                console.error('Error:', error);
                showPopup(error.message);
            });
    }

    function handleResponse(response) {
        if (!response.ok) {
            return response.json().then(data => {
                document.getElementById("dialog-button").innerHTML = "Try again";
                document.getElementById("dialog-button").href = "/detection/"
                throw new Error(data.detail || "An unknown error occurred");
            });
        }
        document.getElementById("dialog-button").innerHTML = "OK";
        document.getElementById("dialog-button").href = "/profile/"
        showPopup("Password changed successfully");
        return response.json();
    }

    function validatePassword(password, repeatPassword) {
        if (password !== repeatPassword) {
            showPopup("Passwords don't match!");
            return false;
        } else if (!(/^(?=.*[A-Z])(?=.*\d).{8,16}$/.test(password))) {

            showPopup("Password does not match the following rules: \n" +
                "<ul>\n" +
                "  <li>Length should be from 8 to 16 symbols</li>\n" +
                "  <li>At least one uppercase character</li>\n" +
                "  <li>At least one number</li>\n" +
                "</ul>  ");

            return false;
        }
        return true;
    }

    function showPopup(message) {
        document.getElementById("errorDescription").innerHTML = message;
        const dialog = document.querySelector("dialog");
        document.getElementById("password-form").classList.add("blur-background");
        dialog.showModal();
    }

    function closePopup() {
        const dialog = document.querySelector("dialog");
        document.getElementById("password-form").classList.remove("blur-background");
        dialog.close();
    }

</script>
</body>
</html>
